body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
header{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
main{
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem;
}
.task-form{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.task-list{
    border: 1px solid #ddd;
    padding: 10px;
}
.task{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.task button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}