*{
    margin: 0;
    padding: 0;
}
.card{
  display: flex;
  border: 2px solid black;
  margin: 5px;
  width: 900px;
  padding: 12px;
  align-items: center;
  justify-content: center;
}
.img img{
  width: 200px;
}
.text h1,p {
   padding: 2px 0;
}
.img{
 position: relative;
}
.img .capsule{
    z-index: 10;
    position: absolute;
    right: 5px;
    background: #242020;
    opacity: 0.5;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    padding: 3px;
    bottom: 4px;
}